// FONTS
$font-primary: "Just Another Hand", cursive;
$font-secondary: "Open Sans Condensed", sans-serif;

// COLORS
$color-primary: orange;
$color-secondary: #d6e9ae;
$color-tertiary: #eeec;
$color-light: white;
$color-dark: #000000;

// BREACKPOINTS
$tablet: 768px;
$desktop: 1200px;
