// Fonts
$font-primary: "Just Another Hand", cursive;
$font-secondary: "Open Sans Condensed", sans-serif;

// Colors
$color-primary: #e29a49;
$color-secondary: #48afc7;
$color-tertiary: #eeec;
$color-light: white;
$color-dark: #000000;

// Breackpoints
$tablet: 768px;
$desktop: 1200px;
