@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/typography";

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-light;
  border: solid 2px $color-dark;
  padding: 15px;
  // border: solid 3px red;
  height: 308px;

  @include desktop {
    height: 223px;
  }
}

.card {
  // border: solid 2px blue;

  @include desktop {
    position: relative;
    overflow: hidden;
  }

  &__image {
    margin-top: 6px;
    height: 200px;
    transition: all 0.5s;
    // border: solid 2px pink;
    @include desktop {
      width: 208px;
      margin-top: 0;
    }
  }

  &__description {
    bottom: 0;
    width: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;

    @include desktop {
      height: 80px;
      transform: translateY(110%);
      transition: all 0.5s ease-out;
      position: absolute;
      border: 2px solid black;
    }

    &--title {
      color: $color-dark;
      margin-top: 8px;
    }

    &--subtitle {
      color: $color-primary;
    }
  }
  @include desktop {
    :hover .card__description {
      transform: translateY(-0.5%);
      transition: all 0.5s ease-out;
    }
  }
}
