@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.footer {
  width: 100%;
  max-width: 1200px;
  height: 80px;
  display: flex;
  position: fixed;
  bottom: 0;
  right: -10;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__copy {
    font-family: $font-primary;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-light;
    border: 1px solid $color-dark;
    font-size: 18px;

    &--icon {
      font-size: 10px;
      color: $color-primary;
      padding-left: 5px;
      padding-right: 5px;
    }
    &--text {
      padding-right: 5px;
    }

    &--link {
      color: $color-secondary;
    }
    :hover {
      color: $color-primary;
    }
  }
}
