.list {
  flex-grow: 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  justify-content: space-evenly;
  margin-bottom: 70px;
  row-gap: 15px;
  column-gap: 15px;
}
