@import "../styles/reset";
@import "../styles/mixins";
@import "../styles/variables";
@import "../styles/typography";

body {
  width: 100%;
  height: 100vh;
  background-image: url("../images/rickandmorty-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

//sería como el wrapper
.appContainer {
  max-width: 1200px;
  margin: auto;
  // @include desktop {
  // }
  // // @include tablet {

  // // }
}

.main {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
