@import "../styles/mixins";
@import "../styles/variables";
@import "../styles/reset";

body {
  width: 100%;
  height: 100vh;
  background-image: url("../images/rickandmorty-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: $font-secondary;
}

h1,
h2 {
  font-family: $font-primary;
  text-transform: uppercase;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-family: $font-primary;
  font-size: 25px;
}

//sería como el wrapper
.appContainer {
  max-width: 1200px;
  margin: auto;
  // @include desktop {
  // }
  // // @include tablet {

  // // }
}

.main {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
