@import "../../styles/mixins";
@import "../../styles/variables";

.modalNotFoundRoute {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-tertiary;

  &__dialog {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    padding: 10px 50px 20px 50px;
    border: solid 8px $color-light;
    background-image: url("../../images/clouds.gif");
    box-shadow: 5px 5px 5px $color-dark;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
  }
}

.modalNotFoundRoute__icon {
  color: $color-dark;
  font-size: 25px;

  :hover {
    color: $color-secondary;
  }
  :active {
    color: $color-primary;
  }
}

.modalNotFoundRoute__bubble {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 320px;
  padding: 20px;
  text-align: center;
  color: $color-dark;
  background-color: $color-light;
  position: relative;
  border: solid 3px $color-dark;
}

.triangle2:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  left: 40px;
  bottom: -13px;
}
